.container{
    display: grid;
    grid-template-columns: repeat(3,30%) ;
    grid-gap: 30px;
    justify-content: space-between;
    overflow: hidden;
    padding: 0 1px;
    margin: 0;
}

.emptyMsg{
    text-align: center;
    font-size: 1.6rem;
    font-family: 'TitilliumWeb-Italic';
    max-width: 70%;
    margin: auto;
}

@media screen and (max-width:480px){
    .container{
        grid-gap: 20px;
    }

    .emptyMsg{
        font-size: 1.4rem;
    }
    
}

@media screen and (max-width:320px){
    .container{
        grid-gap: 10px;
    }

    .emptyMsg{
        font-size: 1.2rem;
    }
}