.container{
    display: flex;
    align-items: center;
    background-image: url('../../assets/images/nav_bar.png');
    background-size: contain;
    background-repeat: repeat-x;
    position: sticky;
    top:0;
    padding: 10px 0;
}

.icon{
    height: 18px;
    width: 18px;
}

.categoryTitle{
    margin: 0;
    flex: 1;
    margin-left: 12px;
    font-size: 2rem;
    font-family: 'TitilliumWeb-Light';
    font-weight: normal;
}

.textField{
    flex:1;
    margin:10px;
    font-family: 'TitilliumWeb-SemiBold';
    padding:5px 10px;
    outline: none;
    border-radius: 50px;
    border-color: transparent;
}

.textField::placeholder{
    font-family: 'TitilliumWeb-Italic';
}

@media screen and (max-width:480px){
    .icon{
        height: 16px;
        width: 16px;
    }

    .categoryTitle{
        font-size: 1.6rem;
    }
}

@media screen and (max-width:320px){
    .icon{
        height: 12px;
        width: 12px;
    }

    .categoryTitle{
        font-size: 1.2rem;
    }

    .textField{
        margin:5px;
        padding:2px 5px
    }

    .textField::placeholder{
        font-family: 'TitilliumWeb-Italic';
        font-size: 1rem;
    }
}